/**
 *
 * Forms
 *
 */



/* Form
   ================================================================================================================== */

form,
.form {
  input,
  textarea {
    font: $font;
  }

  &.is-inverted {
    input[type="text"],
    input[type="password"],
    input[type="date"],
    input[type="datetime"],
    input[type="email"],
    input[type="number"],
    input[type="search"],
    input[type="tel"],
    input[type="time"],
    input[type="url"],
    textarea {
      background-color: $gray-lightest;
      color: $gray-darkest;
    }
  }

  &--group {
    margin-top: 1.25em;

    label {
      color: $gray-darker;
      font-weight: 600;
    }
  }

  &--checkbox {
    margin-top: .75em;
    padding-left: 1.2em;
    position: relative;

    input {
      margin-left: -1.25em;
      margin-top: .25em;
      position: absolute;
    }
  }
}
